input[type="text"], input[type="password"] {
    font-size: 28px;
    height: 48px;
}

body {
    font-family: Time, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: rgb(25, 85, 85);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 40px;
}

footer {
    background-color: #344;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
